.krossoverr-navbar {
  background: linear-gradient(to right, #301014, #51291e);
  padding: 0.8rem 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.krossoverr-navbar .navbar-brand {
  font-size: 1.8rem;
  color: #ffd93d !important;
}

.krossoverr-navbar .nav-link {
  color: white !important;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.krossoverr-navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ffd93d;
  transition: 0.3s;
}

.krossoverr-navbar .nav-link:hover::after {
  width: 100%;
}
