.section-wrapper {
  width: 100%;
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee, #f9f586);
  padding: 4rem 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee, #f9f586);
  color: #301014;
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

/* Submit Button */
.custom-submit-btn {
  background-color: #fa8806ff;
  color: #000;
  border: 2px solid #ffc107;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.custom-submit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #1c1c1c;
  z-index: -1;
  transition: right 0.3s ease-in-out;
}

.custom-submit-btn:hover::before {
  right: 0;
}

.custom-submit-btn:hover {
  color: #ffc107;
  border-color: #ffc107;
}

/* Hero section (no background image here, now handled via inline style in JSX) */
.contact-hero {
  width: 97%;
  margin-left: 1.5%;
  height: 600px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



