<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="images/logos/seodashlogo.png"
    />
    <link
      rel="stylesheet"
      href="../../node_modules/simplebar/dist/simplebar.min.css"
    />
    <link rel="stylesheet" href="/css/styles.min.css" />
  </head>

  <body>
    <!--  Body Wrapper -->
    <div
      class="page-wrapper"
      id="main-wrapper"
      data-layout="vertical"
      data-navbarbg="skin6"
      data-sidebartype="full"
      data-sidebar-position="fixed"
      data-header-position="fixed"
    >
      <!-- Sidebar Start -->
      <%-include ("aside") %>
      <!--  Sidebar End -->
      <!--  Main wrapper -->
      <div class="body-wrapper">
        <!--  Header Start -->

        <%-include ("header") %>

        <!--  Header End -->
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Add Product</h5>
              <div class="card">
                <div class="card-body">
                  <form
                    method="post"
                    enctype="multipart/form-data"
                    action="/product/addproduct"
                  >
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Sub Category Name</label
                      >
                      <div class="col-12">
                        <select name="subcategoryId" id="">
                          <%data.map((e,i)=>{%>
                          <option value="<%=e._id%>">
                            <%=e.subcategoryname%>
                          </option>
                          <%})%>
                        </select>
                      </div>
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Product Name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="productname"
                        aria-describedby="emailHelp"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Product Price</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="productprice"
                        aria-describedby="emailHelp"
                        required
                      />
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label"
                        >Product Image</label
                      >
                      <input
                        type="file"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="productimage"
                        aria-describedby="emailHelp"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="libs/simplebar/dist/simplebar.js"></script>
    <script src="js/sidebarmenu.js"></script>
    <script src="js/app.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  </body>
</html>
